/* CSS */

/****** Header *****/

#header{
  text-align: center;
}

/****** Nav *****/

.navbar-brand img{
  border-radius: 5px;
}

/****** Section ******/

#section{
  width: 500%;
  height: 100%;
}
